    body {
        background-color: black;
    }
    
    .con {
        height: 560px;
        background-color: rgb(90, 59, 59);
    }
    
    header {
        height: 10%;
        background-color: gainsboro;
        width: 100%;
        margin-right: 0%;
    }
    
    nav {
        background-color: rgb(92, 105, 92);
        float: left;
        width: 33.33%;
        height: 99%;
    }
    
    .logo {
        background-color: rgb(55, 107, 107);
        float: left;
        width: 33.33%;
        height: 99%;
    }
    
    #hi {
        background-color: rgb(243, 10, 10);
        float: left;
        width: 33.33%;
        height: 99%;
    }
    
    #menu {
        height: 5%;
        width: 100%;
        background-color: gainsboro;
    }
    
    #content {
        height: 550px;
        background-color: #ccc4c4;
    }
    
    footer {
        height: 80px;
        background-color: rgb(17, 31, 94);
    }
    
    .tt {
        height: 33%;
        margin: 0.5%;
    }
    
    #AA {
        background-color: blanchedalmond;
    }
    
    #BB {
        background-color: rgb(114, 131, 209);
    }
    
    #CC {
        background-color: rgb(197, 38, 38);
    }